@import "@/assets/scss/variables/colors";


.checkbox {
  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
    pointer-events: none;
    align-items: center;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border: 1px solid $black;
    border-radius: 50px;
    pointer-events: auto;
    cursor: pointer;
    transition: background-color 0.2s ease, border 0.2s ease,
    border-color 0.2s ease;
  }

  &__checkmark {
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__content {
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  &_checked .checkbox {
    &__box {
      border: 0;
    }

    &__checkmark {
      opacity: 1;
    }
  }

  &__input {
    display: none;
  }

  &_size {
    &-md .base-checkbox {
    }
  }

  &_disabled .base-checkbox {
    &__box,
    &__content {
      cursor: default;
    }

    &__box {
      border-color: $gray-55;
      background-color: #efefef;
    }

    &__checkmark {
      stroke: #efefef;
    }
  }
}
