@import "@/assets/scss/variables/colors";

.base-dropdown {
  --base-dropdown-popover-width: auto;
  --base-dropdown-popover-max-height: 350px;

  display: grid;

  :deep(.popper) {
    width: 10%;
  }

  &__container {
    display: grid;
  }

  &__content {
    display: grid;
  }

  &__activator {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__popover {
    position: relative;
    box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
    background: $gray-10;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    width: 100%;
  }
}
