@import '@/assets/scss/variables/colors';

.base-tooltip {
  display: flex;
  margin-left: 5px;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  :deep(.popper) {
    padding: 5px 10px;
    box-shadow: #00000059 0 0 5px 1px;
    border-radius: 4px;
    background: $white;
    max-width: 350px;

    &:hover {
      background: $white;
    }
  }
}
