@import "@/assets/scss/variables/colors";

.header {
  position: fixed;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  background: $pink-10;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    transform: translateY(20px);
    background: $pink-10;
    border-radius: 50%;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
