@import "@/assets/scss/variables/colors";
@import "@/assets/scss/media-breakpoints";

.header {
  position: fixed;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  background: $pink-10;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
   @include media-breakpoint-down(xs) {
     display: none;
   }
  }

  &__logo {
    transform: translateY(20px);
    background: $pink-10;
    border-radius: 50%;

    @include media-breakpoint-down(xs) {
      transform: unset;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 20px;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__mobile-btn {
    display: none;
    min-width: 40px;

    @include media-breakpoint-down(xs) {
      display: block;
    }

    span {
      display: block;
      margin: 10px 0;
      height: 4px;
      background: #41456B;
      border-radius: 7px;
      transition: all .3s;
    }

    &_opened {
      span {
        &:nth-child(1) {
          transform: translateY(16px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-12px) rotate(-45deg);
        }
      }
    }
  }

  &__mobile-content{
    position: absolute;
    background-color: $pink-10;
    left: 0;
    height: calc(var(--app-height) - 40px);
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 14px 20px;
    overflow-y: scroll;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s ease 0s;

    &_opened {
      transform: translateZ(0);
      display: block;
    }

    @include media-breakpoint-up(xs) {
      display: none;
    }
  }

  &__mobile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .header__btn-item {
      font-size: 16px;
    }
  }

  &__mobile-bg {

  }

  &__mobile-logo{
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
