.avatar-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;

  &__params {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 700;
    color: #807F7F;

    &-error {
      margin-top: 12px;
    }
  }
}
