@import "@/assets/scss/variables/colors";

.base-card {
  &_pink {
    background: $pink-20;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  &_white {
    background: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}