@import "@/assets/scss/variables/colors";
@import "@/assets/scss/media-breakpoints";

.base-card {
  position: relative;

  &_pink-cards {
    overflow: hidden;
    background: $pink-20;
    border-radius: 20px;
    padding: 20px;

    @include media-breakpoint-down(xs) {
      height: 550px;
    }
  }

  &_pink {
    overflow: hidden;
    background: $pink-20;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;


    &:after {
      content: '';
      position: absolute;
      top: -25%;
      left: -35%;
      background: $white;
      height: 150%;
      width: 1px;
      opacity: 0.5;
      transform: rotate(30deg);
      box-shadow: 0 0 15px 15px $white;
    }

    &:hover {
      &:after {
        @include media-breakpoint-up(md) {
          animation: flash 300ms ease;
        }
      }
    }
  }

  &_white {
    background: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      min-height: 160px;
    }
  }
}